<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Jersey+10&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<!-- ----------------------------------------------------- -->
 {%if name == 'NickName'%}
    <div class="div-modal" style="{{position}}">
        <form method="post"  href="/game" id="modal">
            <div style="width: 70%;">
              <label for="exampleInputEmail1" class="form-label"><b><h5>Your Nickname</h5></b></label>
              <input type="text" class="form-control" name="name" id="name" value="{{request.form['name']}}" >
            </div>
            <div style="display: flex; justify-content: flex-start !important; width: 70%;">
            <button type="submit" class="btn" >Submit</button>
        </div>
        </form>
    </div>
{%endif%}
<!-- ------------------------------------------------------------------ -->

    <div style=" padding: 3rem; ">
    <h1 style="color: #327dc8; font-weight: 800;"> Paper, Scissors and Stone Game</h1>

    <div id="chois" style="{{position1}}">
    <h5 style="color: white; margin-top: 3rem;">Welcome {{name}}</h5>
    <p style="color: white;">Are you ready?</p>

    <h5 style="color: #327dc8; margin-top: 4rem;">choose between:</h5>

    <div style="display: flex; flex-direction: row;"> 
        <form method="post" action="/game">
            <input type="hidden" name="selected_image" value="./static/img/carta.png">
            <button class="immagini" type="submit">
                <img src="./static/img/carta.png" alt="Carta" width="200">
            </button>
        </form>
        
        <!-- Form for Forbici -->
        <form method="post" action="/game">
            <input type="hidden" name="selected_image" value="./static/img/forbici.png">
            <button class="immagini" type="submit">
                <img src="./static/img/forbici.png" alt="Forbici" width="210">
            </button>
        </form>
        
        <!-- Form for Sasso -->
        <form method="post" action="/game">
            <input type="hidden" name="selected_image" value="./static/img/sasso.png">
            <button class="immagini" type="submit">
                <img src="./static/img/sasso.png" alt="Sasso" width="250">
            </button>
        </form>
    </div>
</div>

<!-- ----------------------------------------------------------------------------------- -->

<div id="start" style="{{position2}}">
    <h3 style="color: white; font-weight: 800; margin-top: 3rem;">START</h3>

    <div >
        <h4 style=" color: #327dc8; margin-left:12rem;">{{name}}</h4>
        <img src="./static/img/sasso.png" alt="" id="game" class="game" >
        <img src="./static/img/sasso.png" alt="" id="game1" class="game1">
    </div>

    <div id="result-panel">
        <h2 id="result-message">{{risult}}</h2>
        <button onclick="restartGame()" style="margin-top: 2rem; background-color: transparent; border: 1px solid white; color: white;">Play Again</button>
    </div>

</div>



   <script>
    window.onload = function() {
        setTimeout(function() {
            var gameElement = document.getElementById('game');
            var gameElement1 = document.getElementById('game1');

            // Cambia la classe per rendere l'immagine statica
            gameElement.classList.remove('game');
            gameElement1.classList.remove('game1');

            gameElement.classList.add('static');
            gameElement1.classList.add('static1');

            // Cambia l'immagine
            gameElement.src = '{{bottone}}'; 
            gameElement1.src = '{{both}}'; 

            setTimeout(function() {
                var resultPanel = document.getElementById('result-panel');
                var resultMessage = document.getElementById('result-message');


                // Mostra il pannello
                resultPanel.classList.add('show');
            }, 1000); // Mostra il pannello 1 secondo dopo il cambio dell'immagine

          
        }, 5000);  // Cambia dopo 5 secondi
    };

    function restartGame() {
        var gameElement = document.getElementById('chois');
        var gameElement1 = document.getElementById('start');

        gameElement.style.display='block';
        gameElement1.style.display='none';


    }
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>